{% extends 'base.html' %} {% block title %}Add a pet{% endblock %} {% block
content %}
<div class="container">
<h1>Add a pet</h1>
<form method="POST">
  {{form.hidden_tag()}}
  <div class="form-group">
    {{form.name.label}} {{form.name(class_='form-control')}}
    {% if form.name.errors %}
    {% for error in form.name.errors %}
    <small class="form-text text-danger">{{error}}</small>
    {% endfor %}
    {% endif %}
  </div>
  <div class="form-group">
      {{form.species.label}} {{form.species(class_='form-control')}}
      {% if form.species.errors %}
      {% for error in form.species.errors%}
      <small class="form-text text-danger">{{error}}</small>
      {% endfor %}
      {% endif %}
  </div>
  <div class="form-group">
      {{form.photo_url.label}} {{form.photo_url(class_='form-control')}}
      {% if form.photo_url.errors %}
      {% for error in form.photo_url.errors %}
      <small class="form-text text-danger">{{error}}</small>
      {% endfor %}
      {% endif %}
  </div>
  <div class="form-group">
      {{form.age.label}} {{form.age(class_='form-control')}}
      {% if form.age.errors %}
      {% for error in form.age.errors %}
      <small class="from-text text-danger">{{error}}</small>
      {% endfor %}
      {% endif %}
  </div>
  <div class="form-group">
      {{form.notes.label}} {{form.notes(class_='form-control')}}
  </div>
  <button class="btn btn-primary btn-lg">Add</button>
</form>
</div>
{% endblock %}
