<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory</title>
</head>
<body>
    <h1>Phone Numbers</h1>
    <table>
        <thead>
            <th>Employee</th>
            <th>Department Code</th>
            <th>Phone</th>
        </thead>
        <tbody>
            {% for emp in emps %}
            <tr>
                <td>{{emp.name}}</td>
                <td>{{emp.dept_code}}</td>
                <td>
                    {% if emp.dept.phone %}
                    {{emp.dept.phone}}
                    {% else %}
                    -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html> 