body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    text-align: center;
    font-size: 3rem;
}

form{
    width: 50%;
    margin: 0 auto;
}


button[type=submit]{
    background-color: #27ae60;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    width: 100%;
}

input{
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

div{
    text-align: center;
    overflow-wrap: break-word;
    width: 80%;
    margin: 0 auto;
}

.text {
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px black;
    position: relative;
}

img {
    width: auto;
    height: auto;
}

.top-text {
    
    top: 50px;
}

.bottom-text{
    bottom: 50px;
}

@media only screen and (max-width: 600px){
    form {
        width: 100%;
    }
}