<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %}Base template{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="">PRETEND I AM A NAVBAR</a>
    </nav>

    {% block content %} {% endblock %}

    <footer>PRETEND I AM A FOOTER</footer>
    <script src="/static/app.js"></script>
  </body>
</html>
