{% extends 'base.html' %} {% block title %}{{user.first_name}} Details {%
endblock %} {% block content %}
<div class="media mt-3">
  <img class="mr-3" src="{{user.image_url}}" alt="User image" />
  <div class="media-body">
    <h1 class="mt-0">{{user.first_name}} {{user.last_name}}</h1>

    <form>
      <button
        class="btn btn-primary btn-sm"
        formaction="/users/{{ user.id }}/edit"
        formmethod="GET"
      >
        Edit
      </button>
      <button
        class="btn btn-danger btn-sm"
        formaction="/users/{{ user.id }}/delete"
        formmethod="POST"
      >
        Delete
      </button>
    </form>
    <h2>Posts</h2>
    {% if posts %}
    <ul>
      {% for post in posts %}
      <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    <a href="/users/{{user.id}}/posts/new" class="btn btn-primary btn-sm">Add Post</a>
  </div>
</div>
{% endblock %}
